.superpowers
.makemd
*/.space
*/.obsidian
*/.gemini
*/.cursor
*/.cursorignore
Zettelkasten_AI/.makemd/fileCache.mdc
Zettelkasten_AI/.makemd/superstate.mdc
Zettelkasten_AI/.obsidian/core-plugins.json
Zettelkasten_AI/.obsidian/workspace.json
Zettelkasten_AI/.obsidian/plugins/make-md/data.json

/.idea
/.trash/modern-java-concurrency
/.trash